{# {% extends 'base.html.twig' %}

{% block title %}Modifier la catégorie

{% endblock %}

{% block body %}
	<h1>Modifier la catégorie</h1>


	{{ include('category/_form.html.twig', {'button_label': 'Update'}) }}

	<br>
	<a href="{{ path('app_category_index') }}" class="btn btn-dark">Retour à la liste</a>


{% endblock %} #}


{% extends 'base.html.twig' %}

{% block title %}Modifier la catégorie


{% endblock %}

{% block body %}
	<h1>Modifier la catégorie</h1>


	{{ form_start(form) }}
	{{ form_widget(form) }}
	<button class="btn btn-success">{{ button_label|default('Mettre à jour') }}</button>

	<br>
	{{ form_end(form) }}

	<br>
	<a href="{{ path('app_category_index') }}" class="btn btn-dark">Retour à la liste</a>

{% endblock %}
